In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')
import yfinance as yf
from datetime import datetime
from sklearn.model_selection import train_test_split

In [2]:
DfG = yf.download('GC=F', '2008-01-02', '2021-02-16', auto_adjust=True)
DfS = yf.download('SI=F', '2008-01-02', '2021-02-16', auto_adjust=True)
DfC = yf.download('HG=F', '2008-01-02', '2021-02-16', auto_adjust=True)
DfCO = yf.download('CL=F', '2008-01-02', '2021-02-16', auto_adjust=True)
DfUI = yf.download('INR=X', '2008-01-02', '2021-02-16', auto_adjust=True)
DfSP = yf.download('^GSPC', '2008-01-02', '2021-02-16', auto_adjust=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
print(DfG.shape,DfS.shape,DfC.shape,DfCO.shape,DfUI.shape,DfSP.shape)

(3273, 5) (3273, 5) (3273, 5) (3274, 5) (3379, 5) (3303, 5)

In [4]:
print(DfG.head())

                  Open        High         Low       Close  Volume
Date
2008-01-02  848.700012  857.799988  846.400024  857.000000     130
2008-01-03  863.000000  865.500000  856.299988  866.400024     181
2008-01-04  861.400024  865.500000  860.200012  863.099976      28
2008-01-07  860.900024  860.900024  857.400024  859.599976       4
2008-01-08  861.599976  879.400024  861.599976  878.000000      21

In [5]:
DfG.reset_index(level=0, inplace=True)
DfS.reset_index(level=0, inplace=True)
DfSP.reset_index(level=0, inplace=True)
DfC.reset_index(level=0, inplace=True)
DfCO.reset_index(level=0, inplace=True)
DfUI.reset_index(level=0, inplace=True)

In [6]:
df = pd.DataFrame(columns=['Date','Gold_Price','Silver_Price','USD_Price','Crudeoil_Price','Copper_Price','SP_Price'])

In [7]:
print(df.tail())
df['Date']=DfG['Date']
df['Gold_Price']=DfG['Close']

Empty DataFrame
Columns: [Date, Gold_Price, Silver_Price, USD_Price, Crudeoil_Price, Copper_Price, SP_Price]
Index: []

In [8]:
for i in range(len(df)):
    if(df['Date'][i] in DfS['Date'].tolist()):
        idx=DfS[DfS['Date']==df['Date'][i]].index[0]
        df['Silver_Price'][i]=DfS['Close'][idx]
for i in range(len(df)):
    if(df['Date'][i] in DfC['Date'].tolist()):
        idx=DfC[DfC['Date']==df['Date'][i]].index[0]
        df['Copper_Price'][i]=DfC['Close'][idx]
for i in range(len(df)):
    if(df['Date'][i] in DfCO['Date'].tolist()):
        idx=DfCO[DfCO['Date']==df['Date'][i]].index[0]
        df['Crudeoil_Price'][i]=DfCO['Close'][idx]
for i in range(len(df)):
    if(df['Date'][i] in DfUI['Date'].tolist()):
        idx=DfUI[DfUI['Date']==df['Date'][i]].index[0]
        df['USD_Price'][i]=DfUI['Close'][idx]

C:\Users\cs\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\cs\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cs\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\cs\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [9]:
for i in range(len(df)):
    if(df['Date'][i] in DfSP['Date'].tolist()):
        idx=DfSP[DfSP['Date']==df['Date'][i]].index[0]
        df['SP_Price'][i]=DfSP['Close'][idx]

C:\Users\cs\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
print(df.tail())

           Date   Gold_Price Silver_Price USD_Price Crudeoil_Price  \
3268 2021-02-08  1831.900024        27.57   72.7848          57.97
3269 2021-02-09  1835.300049       27.396   72.9299          58.36
3270 2021-02-10  1840.599976       27.074   72.8549          58.68
3271 2021-02-11  1824.900024       27.042   72.8073          58.24
3272 2021-02-12  1821.599976       27.323   72.7095          59.47

     Copper_Price SP_Price
3268        3.679  3915.59
3269       3.7335  3911.23
3270       3.7855  3909.88
3271       3.7875  3916.38
3272        3.802  3934.83

In [11]:
df.to_csv('gold_data1.csv',index=False)

In [12]:
df.describe()

        Gold_Price
count  3273.000000
mean   1319.082829
std     264.855520
min     704.900024
25%    1184.400024
50%    1283.400024
75%    1492.199951
max    2051.500000

In [13]:
df1=pd.read_csv('gold_data1.csv')

In [14]:
df1.dropna(inplace=True)

In [15]:
df1.tail()

,Date,Gold_Price,Silver_Price,USD_Price,Crudeoil_Price,Copper_Price,SP_Price
3268,2021-02-08,1831.900024,27.570000,72.784798,57.970001,3.6790,3915.590088
3269,2021-02-09,1835.300049,27.396000,72.929901,58.360001,3.7335,3911.229980
3270,2021-02-10,1840.599976,27.073999,72.854897,58.680000,3.7855,3909.879883
3271,2021-02-11,1824.900024,27.042000,72.807297,58.240002,3.7875,3916.379883
3272,2021-02-12,1821.599976,27.323000,72.709503,59.470001,3.8020,3934.830078

In [16]:
df1.describe()

,Gold_Price,Silver_Price,USD_Price,Crudeoil_Price,Copper_Price,SP_Price
count,3228.000000,3228.000000,3228.000000,3228.000000,3228.000000,3228.000000
mean,1320.888941,20.203022,59.088596,70.896521,3.001602,1937.315346
std,263.634897,6.819325,10.279905,24.360770,0.617875,737.414804
min,704.900024,8.790000,39.095001,-37.630001,1.253000,676.530029
25%,1186.074982,15.939000,48.780750,49.954999,2.618500,1310.777496
50%,1283.450012,17.523000,61.790001,68.080002,3.029250,1920.224976
75%,1490.049988,22.817000,67.127876,93.015001,3.386625,2501.005066
max,2051.500000,48.584000,77.570000,145.179993,4.623000,3934.830078

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3228 entries, 0 to 3272
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3228 non-null   object
 1   Gold_Price      3228 non-null   float64
 2   Silver_Price    3228 non-null   float64
 3   USD_Price       3228 non-null   float64
 4   Crudeoil_Price  3228 non-null   float64
 5   Copper_Price    3228 non-null   float64
 6   SP_Price        3228 non-null   float64
dtypes: float64(6), object(1)
memory usage: 201.8+ KB

In [19]:
df1['Date']=pd.to_datetime(df1['Date'],format="%Y-%m-%d")

In [20]:
df1.head()

,Date,Gold_Price,Silver_Price,USD_Price,Crudeoil_Price,Copper_Price,SP_Price
0,2008-01-02,857.000000,15.167,39.375000,99.620003,3.0505,1447.160034
1,2008-01-03,866.400024,15.382,39.353001,99.180000,3.1730,1447.160034
2,2008-01-04,863.099976,15.346,39.095001,97.910004,3.1415,1411.630005
3,2008-01-07,859.599976,15.180,39.213001,95.089996,3.1250,1416.180054
4,2008-01-08,878.000000,15.707,39.195999,96.330002,3.2735,1390.189941

In [21]:
df1.corr()

,Gold_Price,Silver_Price,USD_Price,Crudeoil_Price,Copper_Price,SP_Price
Gold_Price,1.000000,0.704395,0.328160,-0.005796,0.407319,0.402342
Silver_Price,0.704395,1.000000,-0.327786,0.500410,0.754247,-0.222791
USD_Price,0.328160,-0.327786,1.000000,-0.649067,-0.467798,0.895932
Crudeoil_Price,-0.005796,0.500410,-0.649067,1.000000,0.746935,-0.528146
Copper_Price,0.407319,0.754247,-0.467798,0.746935,1.000000,-0.210482
SP_Price,0.402342,-0.222791,0.895932,-0.528146,-0.210482,1.000000

In [22]:
import calendar
df1['Day']=df1['Date'].apply(lambda x:x.day)
df1['Month']=df1['Date'].apply(lambda x:x.month)
df1['Year']=df1['Date'].apply(lambda x:x.year)
df1['Weekday']=df1['Date'].apply(lambda x:calendar.day_name[x.weekday()])

In [23]:
df1['Weekday'] = df1['Weekday'].map({'Sunday':0,'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6})
df1.drop(['Date'],axis=1,inplace=True)

In [24]:

#df1.drop(['Copper_Price'],axis=1,inplace=True)
S_3=[]
S_9=[]
for i in range(len(df1)):
    if(i<9):
        S_3.append(np.nan)
        S_9.append(np.nan)
    else:
        S_3.append(df1['Gold_Price'][i-3:i].mean())
        S_9.append(df1['Gold_Price'][i-9:i].mean())
df1['S_3']=S_3
df1['S_9']=S_9
df1 = df1.dropna()
print(df1.tail(10))

       Gold_Price  Silver_Price  USD_Price  Crudeoil_Price  Copper_Price  \
3263  1860.800049     29.398001  72.906601       53.549999        3.5620
3264  1830.500000     26.384001  73.119797       54.759998        3.5390
3265  1832.199951     26.878000  72.916298       55.689999        3.5785
3266  1788.900024     26.223000  72.858002       56.230000        3.5660
3267  1810.900024     27.014000  72.945702       56.849998        3.6390
3268  1831.900024     27.570000  72.784798       57.970001        3.6790
3269  1835.300049     27.396000  72.929901       58.360001        3.7335
3270  1840.599976     27.073999  72.854897       58.680000        3.7855
3271  1824.900024     27.042000  72.807297       58.240002        3.7875
3272  1821.599976     27.323000  72.709503       59.470001        3.8020

         SP_Price  Day  Month  Year  Weekday          S_3          S_9
3263  3773.860107    1      2  2021        1  1843.366699  1851.344455
3264  3826.310059    2      2  2021        2  1848.666707  1853.711127
3265  3830.169922    3      2  2021        3  1846.200033  1849.777791
3266  3871.739990    4      2  2021        4  1841.166667  1846.100003
3267  3886.830078    5      2  2021        5  1817.199992  1838.677789
3268  3915.590088    8      2  2021        1  1810.666667  1833.788900
3269  3911.229980    9      2  2021        2  1810.566691  1831.700019
3270  3909.879883   10      2  2021        3  1826.033366  1830.633355
3271  3916.379883   11      2  2021        4  1835.933350  1830.933350
3272  3934.830078   12      2  2021        5  1833.600016  1828.444458

In [25]:
X=df1.drop('Gold_Price',axis=1)
y=df1['Gold_Price']

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((2575, 11), (2575,), (644, 11), (644,))

In [27]:
print(X_test.head())

      Silver_Price  USD_Price  Crudeoil_Price  Copper_Price     SP_Price  Day  \
2533     16.542000  64.703003       63.910000        3.1960  2779.600098   26
2218     16.761000  67.981499       45.419998        2.4875  2187.120117   17
2375     15.371000  64.713303       44.230000        2.6375  2425.179932    7
517      16.183001  46.098000       72.889999        3.0460  1073.869995   29
1358     21.645000  56.838001       95.379997        3.1930  1626.130005   11

      Month  Year  Weekday          S_3          S_9
2533      2  2018        1  1329.599976  1336.744425
2218     11  2016        4  1222.866659  1262.644450
2375      7  2017        5  1227.766642  1241.333320
517       1  2010        5  1088.633341  1103.899984
1358      6  2013        2  1394.966634  1398.611098

In [28]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [29]:
model=GradientBoostingRegressor()
model.fit(X_train,y_train)
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

y_pred=model.predict(X_test)

from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
rmse=mse**(1/2)
rmse

0.9970960385990879
0.9946845340921857

19.513972079836297

In [30]:
model3=RandomForestRegressor(n_estimators=200)
model3.fit(X_train,y_train)
print(model3.score(X_train,y_train))
print(model3.score(X_test,y_test))

y_pred3=model3.predict(X_test)

from sklearn.metrics import mean_squared_error
mse3=mean_squared_error(y_test,y_pred3)
rmse3=mse3**(1/2)
rmse3

0.9994461786118142
0.9954842995476602

17.986123596793544

In [31]:
model_linear=LinearRegression()
model_linear.fit(X_train,y_train)
y_pred_lin=model_linear.predict(X_test)
mse_lin=mean_squared_error(y_test,y_pred_lin)
print(mse_lin**(1/2))
print(model_linear.score(X_test,y_test))

19.434759426643602
0.9947276004214544

In [32]:
data=pd.read_csv('gold_data1.csv')
data.set_index('Date', inplace=True)
S_3=[]
S_9=[]
for i in range(len(data)):
    if(i<9):
        S_3.append(np.nan)
        S_9.append(np.nan)
    else:
        S_3.append(data['Gold_Price'][i-3:i].mean())
        S_9.append(data['Gold_Price'][i-9:i].mean())
data['S_3']=S_3
data['S_9']=S_9
q=S_3[-1]
w=S_9[-1]

data.tail()
data = data.dropna()

data.tail()

,Gold_Price,Silver_Price,USD_Price,Crudeoil_Price,Copper_Price,SP_Price,S_3,S_9
Date,,,,,,,,
2021-02-08,1831.900024,27.570000,72.784798,57.970001,3.6790,3915.590088,1810.666667,1833.788900
2021-02-09,1835.300049,27.396000,72.929901,58.360001,3.7335,3911.229980,1810.566691,1831.700019
2021-02-10,1840.599976,27.073999,72.854897,58.680000,3.7855,3909.879883,1826.033366,1830.633355
2021-02-11,1824.900024,27.042000,72.807297,58.240002,3.7875,3916.379883,1835.933350,1830.933350
2021-02-12,1821.599976,27.323000,72.709503,59.470001,3.8020,3934.830078,1833.600016,1828.444458

In [33]:
print(X_test.head())

      Silver_Price  USD_Price  Crudeoil_Price  Copper_Price     SP_Price  Day  \
2533     16.542000  64.703003       63.910000        3.1960  2779.600098   26
2218     16.761000  67.981499       45.419998        2.4875  2187.120117   17
2375     15.371000  64.713303       44.230000        2.6375  2425.179932    7
517      16.183001  46.098000       72.889999        3.0460  1073.869995   29
1358     21.645000  56.838001       95.379997        3.1930  1626.130005   11

      Month  Year  Weekday          S_3          S_9
2533      2  2018        1  1329.599976  1336.744425
2218     11  2016        4  1222.866659  1262.644450
2375      7  2017        5  1227.766642  1241.333320
517       1  2010        5  1088.633341  1103.899984
1358      6  2013        2  1394.966634  1398.611098

In [54]:

#18th-1-2021 original value is 1,836.60
yt4=model.predict(pd.DataFrame({'Silver_Price':[27.4],'USD_Price':[72.815],'Crudeoil_Price','Copper_Price':[3.8235],'SP_price':[3927.52],'Day':[17],'Month':[2],'Year':[2021],'Weekday':[3],'S_3':q,'S_9':w}))

In [55]:
print(yt4)#GradientBoostingRegressor

[1772.77168291]

In [50]:
yt2=model3.predict(pd.DataFrame({'Silver_Price':[27.4],'USD_Price':[72.815],'Dow_Price':[31623.00],'Copper_Price':[3.8235],'SP_price':[3927.52],'Day':[17],'Month':[2],'Year':[2021],'Weekday':[3],'S_3':q,'S_9':w}))

In [51]:
print(yt2)#RandomForestRegressor

[1838.9835]

In [28]:
#2021-01-18,1836.6,25.05,73.18,52.36,3.62,3773.12
1843.86317854-1836.60

7.263178540000126

In [52]:
yt2=model_linear.predict(pd.DataFrame({'Silver_Price':[27.4],'USD_Price':[72.815],'Dow_Price':[31623.00],'Copper_Price':[3.8235],'SP_price':[3927.52],'Day':[17],'Month':[2],'Year':[2021],'Weekday':[3],'S_3':q,'S_9':w}))

In [53]:
print(yt2)#linear

[1844.12092407]